[2020-06-15 11:45] VictorBaudot opened #3 "Automatic browser detection"
How would you guess user timezone to put it as default value?

[2020-06-15 11:52] VictorBaudot commented on #3
[code]

[2020-06-15 11:52] #3 closed

[2020-06-24 19:05] dkulp23 opened #4 "Component no longer accepting onChange handler?"
Hey Nico,

First off, thanks for taking the time to put this package together. I needed a simple timezone select for a project and this has worked perfectly.

However, just this morning I was doing a dependency audit on my project and noticed that the upgrade from `0.5.1` => `0.6.0` broke the functionality of the component.

If I'm reading [the source](https://github.com/ndom91/react-timezone-sele

[2020-06-25 17:45] dkulp23 commented on #4
@ndom91 Works perfectly now! Thank you very much for the lightning fast response and update!

[2020-06-25 17:45] #4 closed

[2020-06-25 17:57] ndom91 commented on #4
Great to hear. No problem!

[2020-10-12 15:14] braingu-matt opened #9 "Persistent Storage"
If the values are stored in a database, then the component will need a way to set the value without the entire JSON object.

The object will change dynamically through time and not select the previously selected value that was in storage.

Recommend option set set to just be value "America/Juneau" instead. Probably would need to do a typeof check to set the value as string if it is a string, or se

[2020-10-12 18:17] ndom91 commented on #9
I'm sorry I'm not sure what the problem is exactly? The values are not stored in a database, they're generated on first render in that memoized function, based on the somewhat large object at the top of the `src/index.js` file and the DST/non-DST values from `spacetime`.

[2020-10-12 18:33] braingu-matt commented on #9
Correct, but if the values are stored in a database and then set on render, the issue would arise from a mismatch.

So right now If I want the component to select America/Juneau then I need to pass the following to the value property:
[code]

If the user selects this value and I save that JSON in the database everything works until it is no longer Daylight Savings Time. Then, when the user goes ba

[2020-10-13 11:26] ndom91 commented on #9
Ah okay I gotcha, so you're saving the values out of this component back into a database somewhere. That's not really the intended use, but lets see if we can make it work.

Because the first part of the label '**(GMT-8:00)** Alaska (AHDT)' is generated on first render by spacetime, it is daylight savings time conscious. However, if you save these values out somewhere then you skip the spacetime g

[2020-10-24 12:03] kimfucious opened #10 "Recommend update of documentation"
Very cool product!  Thank you for sharing.

One small nit regarding the docs.

Unless I've overlooked something, using `selectedTimezone` in the below, will not show the selected value:
[code]
What's needed here is to add `value` or some other key from the selectedTimezone object, like so:
[code]
While it might seem obvious on how to show that value, the docs are slightly misleading as written and

[2020-10-24 12:49] ndom91 commented on #10
@kimfucious first of all, thanks for the feedback!

I wasn't sure myself, so I double checked the code, but the component takes the value key of the object you pass in to the `value` prop itself already, so theres no need from the user side to do this. You can pass in the whole object.

I have adjusted it in the most recent commit though to also work if someone passes in just the value itself, not

[2020-10-24 13:03] ndom91 commented on #9
If there are no further questions or anything left open, @braingu-matt, then I'll close this issue this weekend.

[2020-10-24 13:28] kimfucious commented on #10
Thanks, @ndom91,

At present with v0.9.3, the value does not display, if I just use selectedTimezone.

I do need to use `value` or someting else to have the selection show in the select component after onChange().

[2020-10-24 21:20] ndom91 commented on #10
@kimfucious okay gotcha. I just double checked everything and pushed a new version - `0.9.6`. Should be good to pass `value.value`, so to speak, or the whole object you get back from `onChange` now. I didn't want to break anyone using one way while still fixing this.

[2020-10-25 08:56] kimfucious commented on #10
HI @ndom91,

Thanks for the reply and quick action.

To clarify, I'm storing the entire `tz` object in state, so if I set the `value` and/or `defaultValue` props of the `TimezoneSelect` component, it appears that I need to use `value` and `label` respectively for those props, in order for them to display; otherwise, I just get the placeholder.
[code]
For the record, `friend.notificationTimezone` i

[2020-10-25 11:51] ndom91 commented on #10
Yeah so `react-select` - the select component this is based upon - requires a `value` value of an object with _atleast_ two keys, `label` and `value`, i.e. `{ value: '', label: '' }`. You can add other stuff, like we do here with `abbrev` and `altName`.

In regards to your use of the component, looks good to me, I can't say much about the `defaultInputValue`, but I know the `value` value can now s

[2020-10-25 15:31] kimfucious commented on #10
Hi @ndom91,

Thanks for the reply.

I've not upgraded to the latest, but I'll do that soon and report back.

As it stands, things are working as expected with v0.9.3.

Regarding `defaultInputValue`, as far as I understand it, if the user is returning to the screen where the selector exists, it needs this prop to display something prior to the the user actually selecting somthing.

The `friend.noti

[2020-10-26 14:57] #10 closed

[2020-10-27 11:58] #9 closed

[2020-11-05 04:17] ya-ya-it opened #11 "Select timezone by value name"
Hello! Thanks for the package!

I'm storing only the value from the JSON object in the database. How can I then match the value with a dropdown to preselect the correct timezone?
So for example, I'm storing in the database "America/Detroit" but when I pass it to the value or the defaultInputValue it only shows me the string, not the timezone object.

Thanks!

[2020-11-07 11:41] ndom91 commented on #11
Hey so thanks for filing this. I adjusted how the `value` value is parsed and released an update (0.9.7) on npm just now where this should work.

Please give it a shot and let me know if that clears it up for you!

[2020-11-08 05:52] alfonmga commented on #3
Moment.js uses `Intl.DateTimeFormat().resolvedOptions().timeZone` under the hood, but the problem is that returned value doesn't match `react-timezone-select` values.

For example, running that API I get `Europe/Madrid` but `react-timezone-select` expects value to be [`Europe/Brussels`](https://github.com/ndom91/react-timezone-select/blob/8dc270bdc58fac0cb0c3ced4ce782f71bb5489c8/src/index.js#L33).

[2020-11-10 11:21] ndom91 commented on #3
@alfonmga hmm very good question - the problem is we start with an array of predefined key value pairs i.e.

[code]

And anything not in there isn't recognized unfortunately. Let me see if I can get the library itself to convert between other ways of writing the timezone and what it expects. For example, 'Europe/Berlin' or 'Europe/Madrid' = 'Europe/Brussels'

[2020-11-13 00:26] ndom91 commented on #11
If you don't have any other questions or concerns, I will close this issue in the coming days. Thanks!

[2020-11-16 13:30] #11 closed

[2020-11-18 03:09] akilansengottaiyan opened #12 "Tijuana US and Canada is mapped to America/Dawson timezone"
Good day!
To my knowledge, `America/Dawson timezone(utc-7)` is different from the timezone in `Tijuana US and Canada(utc-8)`.
But in the dropdown, typing either of them results in `America/Dawson`
In the code `i18n` object defined in `src/index.js` ,  `Tijuana, Pacific Time` is mapped to `America/Dawson` timezone which shouldn't be the case.
This is causing problem since there is no way to differe

[2020-11-26 05:02] ya-ya-it commented on #11
Sorry for the late reply! Thank you very much for the quick fix! Everything is working perfectly now, I love it!

[2020-11-27 22:38] ndom91 commented on #12
@akilansengottaiyan thanks for the heads up! I just published a `v0.9.8` on npm which changed it to 'America/Tijuana'.

Let me know if that clears it up for you!

[2020-11-28 03:22] akilansengottaiyan commented on #12
@ndom91 Thanks for the fix. Now there is no way to add America/Dawson timezone now. Isn't it needed now to add one more entry for America/Dawson timezone in the dictionary?
Let me know if I am wrong in intrepreting it.

[2020-11-28 09:14] ndom91 commented on #12
Technically your right, there's no `America/Dawson`, but there's a bunch of other GMT-7:00's.

Do you need the Dawson choice specifically? I can add it back in for you.

[2020-12-01 19:39] willydavid1 opened #13 "Can you set default values?"
hello I have a question and it is that I need to set a default value to the selector. Is it possible? example:
![image](https://user-images.githubusercontent.com/55035334/100788317-e99df200-33e2-11eb-8621-5a31fd47242d.png)

[2020-12-02 11:16] ndom91 commented on #13
Yes, it is possible. Are you using react hooks? i.e. `useState()` to save the current selection?

If so, you can define the default value was the default variable value whenever you declare the variable getter/setter.

For example:
[code]
Here I'm setting `Europe/Berlin` as the default selected timezone by defining it as the default value whenever I'm setting up the `tz` and `setTz` `useState` hoo

[2020-12-02 15:46] willydavid1 commented on #13
It doesn't work for me at all because my goal was to have a label and time zone already set. what I did was the next thing that served me the same

[2020-12-02 15:57] willydavid1 commented on #13
It doesn't work for me at all because my goal was to have a label and time zone already set. what I did was the next thing that served me the same

[code]
**This is my default result:**
![image](https://user-images.githubusercontent.com/55035334/100896052-38539680-348c-11eb-8aa6-0a810941f2a7.png)

It would be great if someone passes a prop to their component as a default value, it is marked and ha

[2020-12-03 07:39] ndom91 commented on #13
So I'm not sure what your whole useState callback is doing, but you can simplify your whole code into this one line basically:

[code]

[2020-12-03 13:59] #13 closed

[2020-12-07 13:12] ndom91 commented on #12
If theres nothing else to do here, I will close this issue this week. Thanks!

[2020-12-11 08:51] akilansengottaiyan commented on #12
Hey @ndom91. I guess it would be better to add Dawson specifically. Thanks.

[2020-12-21 11:45] RozumSystems opened #15 "Wrong timezone for 'Pacific/Fiji': 'Fiji Islands, Kamchatka, Marshall Islands',"
Kamchatka should be GMT+12, but we have GTM+13 https://en.wikipedia.org/wiki/Kamchatka_Time

Pacific / Fiji looks like should be divided to 2 timezones, because Fiji has DST (GMT+12 / GMT +13), but Kamchatka don't
https://en.wikipedia.org/wiki/Time_in_Fiji

Marshal islands has +12 as in Kamchatka
https://en.wikipedia.org/wiki/Marshall_Islands

[2021-01-13 10:48] hittesh opened #16 "why is -gmt 8 missing from list."
hello Team(react-timezone-select),

I am facing a small issue I don't know why it is missing from the options list. I have installed the latest version **(0.9.9)** of your react-timezone-select package. I need (-8 GMT) in my list but it's missing. why is it happening.? Can you please help me?

<img width="1299" alt="Screenshot 2021-01-13 at 4 16 49 PM" src="https://user-images.githubusercontent.co

[2021-01-13 20:38] ndom91 commented on #16
@hittesh I'm having trouble recreating your issue. The default dropdown contains a `GMT-8:00` value for Tijuana / U.S. Pacific Time.

![image](https://user-images.githubusercontent.com/7415984/104507530-33cfe100-55e7-11eb-9b02-f088bfc902ac.png)

How are you reaching a state where `GMT-8:00` is missing?

[2021-01-14 08:08] hittesh commented on #16
hello Team(react-timezone-select),

Please check both screenshots, its not missing its actually shift its -8gmt to -7gmt. why is it happening?

![image (13) (2)](https://user-images.githubusercontent.com/47388032/104561392-57d60580-566d-11eb-81c5-6afd4a343ef3.png)
<img width="1392" alt="Screenshot 2021-01-14 at 1 35 50 PM" src="https://user-images.githubusercontent.com/47388032/104561506-8522b380-

[2021-01-14 08:25] ndom91 commented on #16
That Tijuana/Pacific Time zone option is based off the timezone 'America/Tijuana'. When looking it up, it seems it alternates between -7 and -8 depending on daylight savings time.

![image](https://user-images.githubusercontent.com/7415984/104563795-68c14f80-564a-11eb-9e9a-cd5065490564.png)

[2021-01-14 09:41] hittesh commented on #16
I set up 2 apps on the same server one is for development purposes the second one is for production. in both apps pacific time is different.
 please watch the attached video
https://drive.google.com/file/d/13Srfu36LFPmBSypH7UYpjG5yc_WU09KO/view

[2021-01-14 11:10] ndom91 commented on #16
Hmm okay. And they are hosted on the same server?

The server(s) having different timezones is the next first thing that comes to mind.

[2021-01-14 14:21] hittesh commented on #16
yes, both apps are hosted on a different server.

[2021-01-14 14:54] ndom91 commented on #16
Oh so they are on separate servers? Type in `date` on both and copy and paste the output here for me please.

i.e.
![image](https://user-images.githubusercontent.com/7415984/104607151-cbcdd900-5680-11eb-825f-b5248aaf5e66.png)

[2021-01-15 08:32] hittesh commented on #16
Please check
production server(india)
<img width="369" alt="Untitled" src="https://user-images.githubusercontent.com/47388032/104700445-2aa35900-573a-11eb-8c7d-9310c20694f2.png">
live server(us)

<img width="542" alt="Screenshot 2021-01-15 at 2 01 57 PM" src="https://user-images.githubusercontent.com/47388032/104700510-4444a080-573a-11eb-90db-3e13e9d641c4.png">

[2021-01-16 11:56] ndom91 commented on #16
I think because IST is at an odd interval +5:30 and also doesn't seem like it respects DST, that server is showing you different timezone calculations - I'd bet america/tijuana isn't the only one thats a bit off.

Best practice if you're developing globally is to just set all servers to UTC and calculate offsets for clients locally based on their browser time or whatever the case may be in your ap

[2021-01-19 23:37] chrishrtmn opened #18 "npm install error with React 17 dependency"
I get an error attempting to install this on React 17 - can you upgrade this to work with it? Thanks!

[2021-01-20 13:33] ndom91 commented on #18
Hi Chris,

Thanks for bringing this up! I moved react to a peerDependency and used this opportunity to version bump all other dependencies too.

Try `react-timezone-select@0.9.10` from npm and let me know if you're still having issues!

[2021-01-20 15:02] chrishrtmn commented on #18
Worked perfectly, thanks!

[2021-01-20 15:40] ndom91 commented on #18
Great, thanks for the quick feedback!

Ill close this issue then.

[2021-01-20 15:40] #18 closed

[2021-01-23 10:58] ndom91 commented on #16
@hittesh so the problem is definitely due to the difference in system timezones of your two servers. How to deal with that is up to you, I've made a suggestion in my previous comment.

We just released a new version of this library though (`v0.9.11`) which allows you to add your own timezone choices or completely replace my list of timezone choices with your own - maybe that can fulfill your need

[2021-01-23 10:58] #16 closed

[2021-01-23 11:01] ndom91 commented on #15
Hi @RozumSystems, sorry its taken me so long to get to this!

So you're suggesting Marshall Islands should be bumped out into its own choice as it is the only one which does not follow DST? Am I understanding you correctly?

[2021-01-23 11:05] ndom91 commented on #12
Okay so I've changed the `Tijuana, Pacific Time` choice to `America/Tijuana` and added a Dawson choice at `America/Dawson` with the label `Dawson, Yukon` :+1:

Is available in v0.9.12+

[2021-01-23 11:07] #12 closed

[2021-01-23 16:05] RozumSystems commented on #15
Hi @ndom91, thanks for answer!

Probably it would be better to  divide  into 3 timezones?

Kamchatka (Russia)  GMT+12 and no DST
Fiji has DST
Marshal Islands are right now as Kamchatka, but who know what will happen?

[2021-01-23 16:17] ndom91 commented on #15
Yeah okay, then how about this - i'll split Kamchatka and Marshall Islands into one and
Fiji into another.

We just released a new feature where you can define your own options / timezone choices, so if things change or you want to override further your free to do so 👍

How does that sound?

[2021-01-23 16:23] RozumSystems commented on #15
@ndom91, as for me - it fits perfectly.

Thanks a lot for your job!

[2021-01-24 12:01] ndom91 commented on #15
Okay great! I'll close this issue then.

The change is in `main` and I've published a new version on npm with v0.9.14 :+1:

[2021-01-24 12:01] #15 closed

[2021-01-26 06:25] gustavomm19 opened #19 "How can I set a deffault Value?"
Hi! I am trying to set a defaultValue by doing
`defaultValue={entity && update? {timeZone:{label: entity.timeZone}} : {}}`
And I can see that the value object is changing but I don't see the value selected

[2021-01-26 12:24] ndom91 commented on #19
The best way to set a default value is to just set the variable which you are setting as `value` to something in the declaration in `useState`.

See the useState line here for example:

[code]

[2021-02-07 12:57] ndom91 opened #22 "Todo: Fix `react-select` typescript props being passed down"
Currently just have a few specific props manually defined. Want to pass in the exported prop types from react-select and allow them all automatically.

I've tried importing types of various names and adding them as optional props to my prop types type, but no luck.

[2021-02-08 09:46] ndom91 commented on #19
@gustavomm19 if you don't have any further questions I will close this issue this week.

If you still have issues, feel free to reply or open another issue :+1:

[2021-02-10 04:20] #19 closed

[2021-02-10 04:27] gustavomm19 opened #23 "Menu Have and unwanted transparency with material components"
Hi :)
I am making a form with material UI textfields. The problem is that when I display the list, the list have some kind of transparency and I can see the material textfields through the menu and it looks horrible. Here is a capture of what is going on:

![issue](https://user-images.githubusercontent.com/47191295/107464465-b7251980-6b36-11eb-8237-fe6485fff22f.png)

[2021-02-10 04:38] gustavomm19 commented on #19
Thanks dude!

[2021-02-10 11:08] ndom91 commented on #23
Your right that does look awful, take a look at the z-index of the text of your input fields.

Either that is higher than the z-index of the timezone dropdown or the timezone dropdown z-index is too low. I don't think it's a transparency (opacity) issue.

[2021-02-10 11:16] ndom91 commented on #22
Figured out how to extend the `react-select` prop types.

Just working on expanding the "value" type to include 'string' as I have a normalizeValue fn infront of value to allow people to pass the full select object ({value, label}) as well as simply the string of the tz ("Europe/Amsterdam").

[2021-02-10 22:30] ndom91 commented on #22
Fixed in 18f1bc3!

[2021-02-10 22:30] #22 closed

[2021-02-11 23:50] gustavomm19 commented on #23
You were right, it was a matter of the z-index, I fixed it by increasing the z-index of the menu.

[2021-02-11 23:50] #23 closed

[2021-03-18 11:42] Ionut-Milas opened #24 "Cannot use import statement outside a module on version 0.10.7"
Hello.

I've just upgraded to 0.10.7 from 0.8.4, and I receive this error.
I'm using it on a NextJS project.
If I revert to 0.8.4 all is working properly.
<img width="1161" alt="Screenshot 2021-03-18 at 13 36 44" src="https://user-images.githubusercontent.com/8121277/111620380-4d5ff580-87ef-11eb-8bee-26d494178b9d.png">

[2021-03-18 15:16] shem8 commented on #24
Same here

[2021-03-18 17:14] ndom91 commented on #24
Hey guys thanks for bringing this up! When I'm home this evening I'll give it a look.

[2021-03-19 01:06] ndom91 commented on #24
Hey guys, so I tried it in a codesandbox with the latest `react`, `next.js`, and `react-timezone-select`, and everything seems alright.

https://codesandbox.io/s/react-timezone-select-test-latest-nextjs-nqikq

Can you share more details about how / where you're using it?

[2021-04-10 13:46] ndom91 commented on #24
Hey guys, if everything is working or you don't have any new issues, im gonna close this issue in the next few days :+1:

Feel free to comment to keep it open if you're still having this issue or open a new one!

[2021-04-26 10:03] emrysal commented on #24
Hi @ndom91 This also happens for me

[2021-04-26 13:55] emrysal opened #25 "Feature request: Automatically detect user timeZone based on GMT offset"
We've got a usecase where we want the use the dayjs.tz.guess() function, which for Italy for example may return Europe/Rome. This wouldn't resolve to anything in this case.

Perhaps it is an idea to do some kind of map of GMT offset to timeZone?

[2021-04-27 11:57] ndom91 commented on #25
Hey thanks for bringing this up!

So if I understand you correctly, you want to be able to pass in a GMT offset (i.e. `GMT+2:00`) and get back the full timezone object? [`spacetime`](https://github.com/spencermountain/spacetime#timezones) supports something similar, does that fulfill your usecase? If not, maybe [`moment-timezone`](https://momentjs.com/timezone/) does?

[2021-04-27 12:00] ndom91 commented on #24
@emrysal thanks a lot for digging into this! You're saying defining `type: module` in package.json should fix this? I guess it would tell Next.js's babel that this is explicitly an esmodule and to not try to parse / transpile it with cjs - am I understanding that correctly?

[2021-04-27 12:41] emrysal commented on #24
@ndom91

If you set up your library as pure ESM (without changing all your files to .mjs extension) for the broader NPM community, NextJS currently does not fully support ESM packages yet (but this is actually an issue in NextJS and will be fixed in the future I imagine). For NextJS it'll still not work without also providing a commonJS package from here, but using next-transpile-modules should be

[2021-04-27 12:44] ndom91 commented on #24
Wow thanks a lot for the follow-up info!

Maybe this is what Tim is hinting at :wink: https://twitter.com/timneutkens/status/1386622369813483525

[2021-04-27 13:43] emrysal commented on #24
@ndom91 There is so many open issues regarding ESM on Next.js (https://github.com/vercel/next.js/issues?q=is%3Aissue+is%3Aopen+esm) I would be flabbergasted if this was not addressed in the upcoming release.

[2021-04-27 19:15] ndom91 commented on #25
Ah okay, so we can probably relatively easily select the default timezone via the users browser language / country headers or something like that.

Would that fulfill your use case?

[2021-04-27 19:15] ndrwksr commented on #25
How's this?

[code]

I don't think this works in IE11 though.
https://caniuse.com/?search=DateTimeFormat

[2021-04-27 20:16] ndom91 commented on #25
Yeah just putting it as the default value in the useState call is what I would have done too. I didn't know the new `Intl` object had this though, thats awesome!

Regarding IE11, thats okay I dont plan on going out of my way to support that anyway..

[2021-04-28 09:48] ndom91 commented on #25
Hey so I've released a new version last night with a bunch of clean up.

Wasn't sure whether to put this into a prop the user could enable (i.e. `showUserTimezoneByDefault`) or something like that.

But just decided to throw it in the readme for now since it makes more sense for the user to use your little `Intl` snippet in "userland" when they're initialising the state.

Thanks again for the tip!

[2021-04-28 09:50] ndom91 commented on #24
Released a new version last night with `type:module` in the package.json and a few other cleanup things.

I also put a hint about the `next-transpile-modules` in the readme.

Thanks for that! Hopefully next.js fixes this shortly.

[2021-04-28 14:12] ndrwksr commented on #25
@ndom91 You are very welcome. Thanks for making a wonderful open source component 😄

[2021-04-28 14:17] ndom91 commented on #24
Going to close this issue then.

If anyone comes across this in the future, checkout the workaround in @emrysal 's post above (https://github.com/ndom91/react-timezone-select/issues/24#issuecomment-826699615)

Or in the README for this project.

[2021-04-28 14:17] #24 closed

[2021-04-28 14:18] ndom91 commented on #25
Going to close this for now, if anyone comes across this looking for similar behavior - checkout @ndrwksr 's workaround in the comment above (https://github.com/ndom91/react-timezone-select/issues/25#issuecomment-827853301), or in the README.

[2021-04-28 14:41] emrysal commented on #25
@ndom91 What I meant was what happens in the case the timezone is missing from the select. Attached a screenshot of what happens when the timeZone detected is Europe/Rome.

![image](https://user-images.githubusercontent.com/1046695/116422539-c06d7a80-a837-11eb-9577-9b7ad1673849.png)

[2021-04-28 14:47] ndom91 commented on #25
Ah gotcha.

Yeah so there's two ways to deal with this.

Either I expand the interior map to include every timezone in that "Europe/Rome" format.

Or I make this "setUserTimezoneByDefault" thing an internal prop, and then I can match user timezones that don't exist (like Europe/Rome) by offset to the matching existing choice (Europe/Berlin or Europe/Amsterdam I think it'd be).

What do you think?

[2021-04-28 15:08] emrysal commented on #25
The _Dumb approach_ I came up with is to indeed get a list together of all timezones in existance, and map them to the relevant "Short list". I think it is desireable from this component POV to deal with valid timezones that are not part of the component display (in case people want to do this). I was wondering if there were smarter ways like detecting an entered timezone GMT offset, and then find

[2021-04-28 15:17] emrysal opened #26 "Searching in select field with value "Pacific" returns weird results"
As reported in https://github.com/calendso/calendso/issues/105, we've come across this bug whilst searching through the select list for "Pacific" - this is the only search text I was able to reproduce the error on, but as it is such a unlikely thing to discover I thought I'd let you know.

![image](https://user-images.githubusercontent.com/1046695/116427726-2fe56900-a83c-11eb-9051-c8e2a315a9b0.png

[2021-04-28 19:37] ndrwksr commented on #25
@emrysal I believe this would be helpful:
https://github.com/spencermountain/timezone-soft/

[2021-04-30 13:55] jcoombs235 opened #27 "Europe/London should be used rather than GMT to define British Timezones"
Currently, Dublin, Edinburgh, Lisbon, London are all defined using the identifier GMT, this means that the component cannot adjust for British Summer Time (BST) and prevents the use of default values for this timezone as Europe/London is what is generated from Intl.DateTimeFormat().resolvedOptions().timeZone rather than GMT.

In my opinion, GMT should have the value of UTC, keeping GMT as the key.

[2021-04-30 20:22] ndom91 commented on #27
I agree, good change! Thanks for the PR! :tada:

[2021-04-30 20:22] #27 closed

[2021-04-30 20:27] ndom91 commented on #26
@emrysal Whats the error exactly? These are all the timezones that begin with "Pacific/*", other than "Tijuana, Pacific Time" that obviousy matches the search in the label portion.

Did you draw that blue box around the search query "Pacific", btw?

[2021-04-30 21:30] emrysal commented on #26
@ndom91 Thanks for explaining why this happened, turns out it's not a bug :), can close

No, blue box is not added post-screenshot, the project it is in is a Tailwind CSS project. Something odd happens there that adds the blue outline to the input div.

[2021-04-30 21:58] ndom91 commented on #26
Hmm yeah thats not pretty. I'll take a look at that!

[2021-05-02 11:11] ndom91 commented on #25
Btw @emrysal - regarding the union type `ITimezone`, this was done this way to support allowing people to just pass in "Europe/Amsterdam", for example, instead of the whole object. Mostly for backwards compatibility reasons. Maybe we should do a major version bump and just remove that..

[2021-05-02 14:10] ndom91 commented on #25
Hey everyone, @emrysal's PR to match any possible timezone to one in our list, has been merged! :tada:

This means you can safely use the `Intl.DateTimeFormat().resolvedOptions().timeZone` trick during state initialisation, and get a valid timezone selection out :+1:

[2021-05-02 14:10] #25 closed

[2021-05-25 07:42] chandru-altrosyn-dev opened #31 "How to get the initial data"
Hi,

  I'm getting the below object onChange event.

[code]
 In my case, I load the form with some predefined data and pass the initial timezone value

[code]

So, on rendering the form the timezone is preselected with my local timezone. But I didn't get the offset object in timeZone useState, I'm getting those data onChange the TimezoneSelect(react-select).

How to get the initial data with offse

[2021-05-25 19:49] ndom91 commented on #31
Hi Chandru,

Thanks for pointing this out! You're right the initial set does not get a return object with all the details nicely filled out as no events have fired yet.

This must happen kind of outside of the responsibility of this `react-timezone-select` component. Are you using any date/time library like `moment` or `spacetime`? If so, we can see if they have any helper functions for getting ti

[2021-05-26 07:15] chandru-altrosyn-dev commented on #31
@ndom91 Thanks for your response.

Yeah, that helps. I thought that we have some solution to get the initial obj through react-timezone-select.

[code]

The above code works fine.

[2021-05-26 12:12] #31 closed

[2021-05-28 17:20] AravindTReddy opened #32 "Is there a way to adjust the height of select input field"
Hello all, I am trying to reduce the height of the select dropdown input field(react-select), Any help appreciated

Thanks in advance

[2021-05-28 17:34] #32 closed

[2021-06-10 16:35] Irina-GO opened #33 "Asia/Baku offset"
Which offset is right for Baku (GMT+5:00) Baku, Tbilisi, Yerevan or (GMT+4:00) ? where do you get this offset?
![Screenshot_2021-06-10_19-26-05](https://user-images.githubusercontent.com/77773826/121563365-03b82d00-ca23-11eb-976a-6ad2ebce79b4.png)
![Screenshot_2021-06-10_19-35-42](https://user-images.githubusercontent.com/77773826/121563402-0dda2b80-ca23-11eb-8fa1-75395866d56a.png)

[2021-06-14 21:33] ndom91 commented on #33
Update: our PR got merged into `spacetime` - so as soon as they release a new version we'll be good to go too!

(If it takes a bit i'll just install it off their git master instead of npm, i'll keep an eye on it :+1:)

[2021-06-15 10:36] ndom91 commented on #33
`spacetime` released `6.16.2` and I just updated this library to `1.0.4` with this and other updated dependencies :tada:

[2021-06-15 10:36] #33 closed

[2021-06-28 21:13] otasman opened #34 "America/Los_Angeles miss resolves to America/Dawson"
"America/Los_Angeles" resolves to America/Dawson when given as value instead of America/Tijuana or a different Pacific Time Timezone

[2021-07-06 18:48] otasman commented on #34
Did you have any luck with this? All that was needed to recreate the issue was to set the initial state of the selected time zone as in the example below.
[code]

![image](https://user-images.githubusercontent.com/10455596/124651462-f303a700-de68-11eb-998f-853e3d89d84f.png)

[2021-07-06 20:12] ndom91 commented on #34
@otasman thanks for reminding me, I just published a new version to npm (`1.0.5`) which adds a dedicated timezone for US Pacific Time under `America/Los_Angeles` as it was previously grouped in under `America/Tijuana`. Tijuana now has its own and all of America PDT is now under LA.

Im going to close this issue now, if you still have issues with this feel free to reopen!

[2021-07-06 20:12] #34 closed

[2021-07-21 17:10] UltraTempest opened #35 "Mouse cursor is set to "cursor: default""
Should the styling for the dropdown be changed from
[code]

to

[code]

to better display the intent to the end user that this is an interactive element & also from an accessibility perspective?

[2021-07-23 15:16] ndom91 commented on #35
Hi @UltraTempest yeah probably. In theory I agree with you.

However, we're using the [`react-select`](https://react-select.com/home) component as the underlying dropdown / select and they explicitly decided against it actually, but with the caveat that it was a breaking change and users could easily implement it themselves. (See: https://github.com/JedWatson/react-select/pull/4069)

Material-UI s

[2021-08-04 10:47] UltraTempest commented on #35
Thanks @ndom91 Did you have a chance to take a look yet?

[2021-08-12 11:20] ndom91 commented on #35
Hey sorry, I had not. Seeing as material-ui defaults to `cursor: pointer` on their select fields, I think its an appropriate way to go. I'll see if I can whip up a PR for this tonight :+1:

[2021-08-13 17:41] ndom91 commented on #35
@UltraTempest so I did some digging and whipped up a PR with my own basic css import, check out `1.0.6` :tada:

[2021-08-13 17:46] UltraTempest commented on #35
Legend thanks! :)

[2021-08-13 20:18] #35 closed

[2021-08-17 17:43] otasman opened #37 "No updates in npm packages"
The source code for releases are not being updated in https://www.npmjs.com/package/react-timezone-select. The revision number gets updated but the files are staying the same.

[2021-08-17 18:09] ndom91 commented on #37
Yeah so the most recent update was just one to add an `index.css` file, otherwise nothing changed. But you are right in that the `index.css` file did not seem to be included! Thanks for that!

I've just released a `1.0.7` release where I can confirm that css file is included.

[2021-08-17 19:16] otasman commented on #37
Awesome, thanks! I see the changes now

[2021-08-17 19:16] #37 closed

[2021-10-06 16:16] trentprynn opened #41 "CSS import error when component is used with Next.js"
When attempting to use this component on a project built using Next.js I'm currently getting the following error

- `Global CSS cannot be imported from within node_modules`

The error links to [this Next.js documentation](https://nextjs.org/docs/messages/css-npm) page

I'm pretty sure this is because this component is doing `import "./index.css"` [here](https://github.com/ndom91/react-timezone-sel

[2021-10-06 16:22] trentprynn commented on #41
I think any of the following options would resolve this issue and allow this component to be use in a Next.js project

1. Remove [this css file](https://github.com/ndom91/react-timezone-select/blob/main/src/index.css) and any references to it
    - could move the styles inline, or just remove them all together as its whole point is to give the `cursor: pointer`class which is something I don't thin

[2021-10-08 14:44] ghernandezr opened #42 "Type declarations."
I install the latest version of this library, I am using typescript, I am having this error:

Cannot find module './types/timezone' or its corresponding type declaration

You can notice that the folder types do not show up.

![package](https://user-images.githubusercontent.com/12530702/136576941-296ceb4f-7b58-485f-ba09-561b85f78ee9.png)

![types](https://user-images.githubusercontent.com/12530702/

[2021-10-10 14:11] #42 closed, assigned to nobody

[2021-10-10 14:16] ndom91 commented on #41
Hey @jartek, looks like Next.js is working on allowing this type of css import (of not css modules): https://github.com/vercel/next.js/discussions/27953

[2021-10-23 15:54] Joker-Bat opened #43 "Provide the extension when importing timezone-list and jsx-runtime"
In the latest update, you seperated the timezone-list to new file, so when importing that file provide extenstion for that file, i am getting error on my webpack setup, for timezone-list and jsx-runtime missing extension.

[2021-10-30 03:03] Joker-Bat commented on #43
Sorry for the late reply, i faced that issue because of version mismatch,
when i do "npm install" it updated all packages to latest version. I get
that extension warning because of my webpack setup, no issues from
component side. 💚

On Sat, 23 Oct 2021, 22:21 Nico Domino, ***@***.***> wrote:

[2021-10-31 01:49] #43 closed

[2021-10-31 01:49] #41 closed

[2021-10-31 15:55] stevokk commented on #18
@ndom91 when you bumped up the minimum version for React, was it for a breaking reason? I'm just wanting to use this in a React 16 project without having to do a v17 migration and thinking this is just a mistake in dependency requirements?

[2021-10-31 16:02] ndom91 commented on #18
Ah yes good call, didn't think it would disallow react 16 right away. Might be because of the npm7 peer deps thing.

I'll double check the package.json and potentially publish a new version, but `npm install --legacy-peer-deps` should work as well 👍

[2021-11-04 02:55] santanuyogi opened #46 "Had to use next-transpile-modules to work with Next.js 12 (next@^12.0.2)"
Thank you so much for your time on this. I want to mention that I spent quite some time today trying to get this to work with Next.js 12, and I kept running into these two errors:

1. `Cannot find module '/usr/src/app/node_modules/react/jsx-runtime`
2. `Module not found: Can't resolve 'react-timezone-select'`

The app would work fine without react-timezone-select installed, but as soon as I would

[2021-11-06 00:53] ndom91 commented on #46
Hi @santanuyogi, I hate to be the bearer of bad news, but this is mentioned directly in the readme :see_no_evil: haha.

Unfortunately there still seems to be some sort of issue wiht Next.js 12 and this ESM package. I'm not sure if its something I'm doing wrong or something thats not supported on their end yet potentially. Haven't had the time to really look into it deeply.

[2021-11-06 01:03] santanuyogi commented on #46
Maybe for now it would be best to update the [README.md](https://github.com/ndom91/react-timezone-select#readme) and remove the message:
[code]
What do you think? Would you like me to edit and make a pull request?

[2021-11-06 01:06] ndom91 commented on #46
I plan to look into this this weekend, if you really want I won't stop you making a PR, but it should hopefully be cleared up soon enough :smile:

[2021-11-06 01:08] santanuyogi commented on #46
Ahh... sounds good. Thank you for being active on the project. If I run across anything that may help, I'll let you know.

[2021-11-06 01:10] ndom91 commented on #46
@santanuyogi okay so oddly enough, I just created a brand new next.js 12 project with the `create-next-app` defaults. It installed with `v12.0.3`. Then I installed `react-timezone-select` and added it to the index.js page and it just worked :thinking:

[2021-11-08 04:52] BananaGarden opened #47 "Error: Module parse failed: Unexpected token (22:59)"
Issue when i run cmd: npm start

ERROR in ./node_modules/react-timezone-select/dist/index.js 22:59
Module parse failed: Unexpected token (22:59)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders

The version used:
- "react-timezone-select": "^1.0.5",
- "react": "^17.0.2",

Webpack confi

[2021-11-08 20:05] ndom91 commented on #47
Hey @BananaGarden unfortunately I haven't been this error before. Are you using next.js or gatsby or any framework like that?

I also noticed you're using a bit of an older version of this package. Maybe an upgrade to the latest `1.1.13` will fix it up for you :+1:

[2021-11-17 03:46] mdilshan opened #48 "Module parse failed: Unexpected token"
I have recently updated all the packages of my React project. With the updated project it is failed to compile due to the following error.

[code]
![image](https://user-images.githubusercontent.com/47513639/142130911-c02499fc-311d-40ce-8307-63c4936fc337.png)

Node JS Version - v14.17.3
React Version - 17.0.2
Typescript Version - 4.4.4

Project was created with `create-react-app`

[2021-11-17 18:41] ndom91 commented on #48
@mdilshan can you give the latest `v1.1.15` a shot? I just published it a few minutes ago. I couldn't reproduce your issue in a codesandbox.

If you're still having this issue with the latest version, a reproduction would be super helpful for me to help you further!

Thanks.

[2021-11-18 02:48] mdilshan commented on #48
@ndom91 It is working right now. Nice job :)

[2021-11-18 02:48] #48 closed

[2021-11-25 21:07] iskrenvankov opened #50 "Asia/Baku time zone change from GMT+5 to GMT+4"
Hi,

I'm using `react-timezone-select` in one of my projects and a user of ours reported an issue with the `Asia/Baku` - Baku, Tbilisi, Yerevan time zone.
It appears as (GMT+5:00) but it should be (GMT+4:00).

Digging a bit deeper, I realised that they actually literally changed their time zone recently.
The update was reflected in spacetime `v6.16.2` https://github.com/spencermountain/spacetime/r

[2021-12-01 11:30] korifey91 opened #51 "Error: Cannot find module 'timezone-list'"
First of all thanks for this project.

When I was trying to add this package to my current project I have faced an issue.

Info about project
[code]

I created a sandbox for you. Please take a look when you have time.
https://codesandbox.io/s/naughty-sound-v4dnl?file=/pages/index.js

[2021-12-01 11:35] korifey91 commented on #51
Adding this package to `next-transpile-modules` list fixes it for me

[code]

[2021-12-01 20:49] ndom91 commented on #51
Hi @korifey91, yes unfortunately this esm-only package still doesn't work 100% out of hte box with Next.js 12, although it was advertised with ESM support. I haven't had time to dig in and check whether its a problem on my side or what. This `next-transpile-modules` workaround is detailed in the readme here 😉

[2021-12-08 21:04] ndom91 commented on #51
Closing this as it seems resolved. If you have any further issues feel free to reopen or make a new issue :+1:

[2021-12-08 21:04] #51 closed

[2021-12-08 21:06] ndom91 commented on #47
@BananaGarden are you still having this issue? If I dont hear back from you i'll assume its been fixed and close this issue soon as its gone stale :+1:

[2021-12-13 16:49] xmluozp opened #53 "Can we select back to empty string or null?"
In my case, it's an overriding time zone. I need it able to be set back to empty. (and show the placeholder)

[2021-12-13 17:43] ndom91 commented on #53
Hi @xmluozp yeah so the way I'd do this is to utilize the `react-select` prop `isClearable`. This will render an "X" at the end of the select dropdown to be able to clear, i.e. remove any selection.

So for example:
[code]

See: https://react-select.com/props

[2021-12-23 14:54] devchris opened #54 "Broken with latest react scripts v5?"
Since upgrading to react-scripts v5, the following error is produced:

[code]

Is anyone else experiencing this issue as well?

[2021-12-23 14:55] devchris commented on #51
Same problem with react-scripts :(

[2022-01-03 07:36] rislam169 commented on #54
I am facing this error too

[2022-01-05 09:13] sdevil7th commented on #54
I'm facing this too

[2022-01-05 09:24] ndom91 commented on #54
Hey thanks all for mentioning this, I will take a look :+1:

[2022-01-05 18:16] dev11-dccolorweb commented on #54
Same here!

[2022-01-10 17:08] christiansaavedra commented on #54
Im having it also

[2022-01-11 03:51] DevinLeamy commented on #54
Same here

[2022-01-13 05:25] DevinLeamy commented on #54
A temporary fix is to change `import allTimezones from './timezone-list` to `import allTimezones from './timezone-list.js';` in `dist/index.js` and `list/index.jsx`. Then you can build fresh with `npm run build`.

[2022-01-13 22:15] tomi-bigpi commented on #54
And you can save this change locally using https://www.npmjs.com/package/patch-package until this is resolved...

[2022-01-13 23:21] ndom91 commented on #54
Sorry yall, been swamped. I tried to replicate this in codesandbox with their CRA template (using `react-scripts@4.0.0` and `react-timezone-select@1.1.15`) and it seemed to work :shrug:.

Anyway, I implemented your temporary fix in `1.1.16`. Please let me know if that fixes the issue for you.

[2022-01-14 13:46] alpritt commented on #54
Fixed it for me. Thank you.

[2022-01-14 13:59] alpritt commented on #46
I ran into a similar problem with running Jest tests. I added react-time-select to the jest `"transformIgnorePatterns"` setting in my project package.json, but I also had to add a `"main": "./dist/index.js"` to the react-time-select package.json to get the import to work. Not sure if that can be added or if it causes more problems. Or perhaps it would resolve the similar error with Next?

I think

[2022-01-20 21:49] ndom91 commented on #50
Hi Iskren, sorry its taken so long for me to answer! I was the one who originally made that update PR to spacetime haha.

But oddly enough, even using an up-to-date version, I'm still seeing it return +5. Can you try `spacetime` in a codesandbox and provide a reproduction where +4 works?

[2022-01-20 22:03] #53 closed

[2022-01-20 22:04] ndom91 commented on #54
Hey yall, published a `1.2.0` where I published a correct esm + cjs version that worked just fine with `react-script@5.0.0+` in local testing

[2022-01-20 22:06] ndom91 commented on #46
Hey yall, I've published a new version `1.2.0` that exports a correct esm + cjs version. This should hopefully satisfy next.js@12 no matter which it decides to use. Let me know if yuo're still having trouble :+1:

[2022-01-20 22:06] #47 closed

[2022-01-21 15:54] iskrenvankov commented on #50
Hi, yes actually that was one of my sanity checks back when I discovered the issue first. I went to this spacetime demo here: https://observablehq.com/@spencermountain/spacetime and just changed one of the cells to

[code]

which then prints out

[code]

So we know that in spacetime 7.1.0 the offset is correct (+4).

[2022-01-21 20:41] ndom91 commented on #50
Hmm very strange, I went through my code here last night and tested to see what came back when I gave it 'Asia/Baku', and I got the TZ object, including `offset: 5`.

I'll have to double check, maybe I oversaw something

[2022-02-02 17:08] ndom91 commented on #54
Hey yall, unless there are any issues still open here I'm going to close this in the next days.

`v1.2.0` should hopefully fix this import / export issue :+1:

[2022-02-02 17:08] #46 closed

[2022-02-04 19:28] tomi-bigpi commented on #54
@ndom91 Thanks for the update. CRA has been happy with 1.2.0. However, we just ran into an issue with Jest complaining with the following (abbreviated) error:
[code]

I'm still digging in to see if there's something we should do differently, but frankly we're just doing a regular `import TimezoneSelect from "react-timezone-select";`

Here's the full, slightly sanitized text, too:
[code]

[2022-02-04 20:02] ndom91 commented on #54
Yeah esbuild is bundling multiple copies of react in and I can't figure out how to avoid this correctly 🤔

[2022-02-04 20:23] tomi-bigpi commented on #54
OK, I found the following workarounds:

* In `node_modules/react-timezone-select/package.json`, change `"main": "./dist/index.js",` to `"main": "./dist/index.cjs",`
* or, add the following to our project's `package.json`:
[code]

[2022-02-04 23:21] ndom91 commented on #54
Hey thanks for digging into this some more.

The `main` value should have been pointing at the `index.cjs` version anyway. Just doing that worked for you? Unfortunately I still wasn't able to get it to work in Next.js with that change.

[2022-02-04 23:26] tomi-bigpi commented on #54
Yes, pointing `main` to the `.cjs` version resolved the issue I was having with Jest tests.

[2022-02-06 12:31] ndom91 commented on #54
@tomi-bigpi just publish a `1.2.1` with this change :+1:

[2022-02-06 15:23] talgki commented on #54
./src/components/shared/DynamicTimezone/index.js
Attempted import error: 'TimezoneSelect' is not exported from 'react-timezone-select'.

Hi,
We are trying to make a new build, and now we are receiving this message. ): any ideas?

[2022-02-06 16:52] ndom91 commented on #54
Hey yeah my bad, having a hard time publishing this correctly with ESM / CJS so that it works with Next.js. CRA doesn't seem to be a problem. If anyone's got any insights there I'm all ears :joy:

For now, you can stick with `1.2.0`, for example.

[2022-02-06 17:02] talgki commented on #54
Thanks for the reply! @ndom91
We already tried downgrade to 1.2.0 but its still with the same errors. This errors accrues only from this morning and we didn't make any changes from our side (the site is in production).

[2022-02-06 17:34] ndom91 commented on #54
Okay I spent some more time with it, moved to rollup from esbuild, and _I think_ its working now.

I was able to get it imported into next.js 12 *without* the `next-transpile-modules* requirement as well.

[2022-02-07 17:27] tomi-bigpi commented on #54
@ndom91 Our build, local development, and tests seem to run fine with version 1.3.0.

Thanks!

[2022-02-07 17:29] ndom91 commented on #54
Awesome, thanks for reporting back! ❤️

[2022-02-07 21:10] ndom91 commented on #54
Closing this as this issue has (finally) I believe been laid to rest!

If anyone is still having issues, feel free to open a new one with your details.

[2022-02-07 21:10] #54 closed

[2022-02-13 08:40] aditodkar opened #57 "React timezone select not working"
package.json:
[code]

Error message:
[code]

[2022-02-13 09:15] ndom91 commented on #57
Hey it looks like your using a bit of an older version. Can you try the latest release? `v1.3.0`+

[2022-02-13 11:12] aditodkar commented on #57
Not working for me. I am using  `"react-timezone-select": "^1.3.1", and "react-scripts": "4.0.1",`

[2022-02-13 13:10] ndom91 commented on #57
Hi @aditodkar so I was able to test it and it worked with `react-timezone-select@1.3.1` and `react-scripts@5.0.0`.

With `react-scripts@4.0.1`, however, I receive the same error. It seems like `4.0.1` doesn't like the cjs version of `spacetime` I'm using (which provides the `isDST()` function).

`spacetime` has since updated to an ESM-only version (`7.0.0+`). When updating to this version of space

[2022-02-16 01:29] james-camilleri opened #58 "Accept `date` prop for date-specific calculation of DST"
With the current selector architecture, `isDST()` is always calculated on the current date. This leads to a scenario where the time zone names and offsets are incorrect if I'm trying to pick the time zone for a date other than today. For example, if I want to set a date of "3rd January 2020" and select Europe/Amsterdam as a time zone, but the current date is the 10th of June 2020, my time zone wil

[2022-03-02 18:27] yorch commented on #57
@ndom91 Just came across this error and can't update to `react-scripts@5` at the moment (it's a big undertake due to size of the code base, we are planning on doing it but will take some time).

Would you have found any other workaround by any chance? It's strange as it works when building `yarn build` but not when `yarn start`. I'm guessing something related to prod vs dev build. Need to dig more

[2022-03-12 15:39] ndom91 commented on #58
Sorry I'm only getting around to this now!

That seems like a legitimate use-case. If you've already got a branch open I'd be happy to take a look at a PR together. We can work out any last kinks together.

[2022-03-29 08:01] talgki opened #60 "@emotion/react when it is already loaded."
Hi,

How are you?
We are using this great package, but we notice that when we are working locally we receive this yellow warning message in the console.
We tried to update @emotion libraries but it's not solved the problem.

/node_modules/react-timezone-select/dist/esm/index.js
**You are loading @emotion/react when it is already loaded. Running multiple instances may cause problems. This can happe

[2022-03-29 11:57] ucharles commented on #60
Hi, @talgki
I have the same problem, so I leave a comment.
I am using these libraries, can you please let me know which library are you using.

[code]

[2022-03-29 13:11] talgki commented on #60
Hi @ucharles,
Here you go,

`  "dependencies": {
    "@date-io/moment": "^2.13.1",
    "@emotion/styled": "^11.6.0",
    "@fortawesome/fontawesome-free": "5.15.3",
    "@fullcalendar/core": "5.8.0",
    "@fullcalendar/daygrid": "5.8.0",
    "@fullcalendar/interaction": "5.8.0",
    "@mui/lab": "^5.0.0-alpha.67",
    "@mui/material": "^5.4.0",
    "axios": "^0.24.0",
    "bootstrap": "4.6.0",
    "

[2022-03-30 14:16] ndom91 commented on #60
@talgki so it looks like you're explicitly using an `@emotion` package as well. In @ucharles's example, I'm assuming one of your dependencies itself is using emotion.

Either way, I thought this _should_ be taken care of by the bundler when building for prod. i.e. that it would only include one copy of the required `@emotion/*` packages, but maybe not. I'll take a closer look here when I have a mi

[2022-04-02 23:10] james-camilleri commented on #58
So sorry, I'm totally swamped too! I do have a branch open, I think I've hammered out most of the edge cases, although it's best you have a look at how I've handled some of the stranger cases and see if it fits with your vision for the project. I also haven't written any tests yet, so I'll need to do that too.

[2022-04-09 16:37] emrysal opened #64 "RFC: Allow composition of the Select component."
Hi @ndom91, hope you're doing well.

react-select does a lot of it's styling inline, with keys like theme={} and styles={], as you well know. Therefore I think a common pattern people use is to extend the component like so (example from my code):

[code]

Due to the definition of react-timezone-select, such configuration is quite easily done; just take that entire code, copy it; and create a secon

[2022-04-13 09:16] ahmedbashir-dev opened #65 "Can we prepend UTC instead of GMT?"
Hi!
I am using this package which is working perfectly. Is there any prop to handle the prefix? I want to use UTC instead of GMT.

[2022-05-01 22:01] ndom91 commented on #64
Sorry for the late reply! So in principle i'm not against it. Seems like it wouldn't be a huge change either. I see yall have more or less achieved the same in the mentioned calcom/cal.com#2453 PR, no?

[2022-05-01 22:01] ndom91 commented on #65
So UTC is used only as a synonym (so to speak) for GMT+0:00, right. You want to use it instead of that? Or you want to replace all mentions of `GMT` with `UTC`, so that it'd be like `UTC+1:00`, `UTC+2:00`, etc. ?

[2022-05-01 22:02] ndom91 commented on #60
Hey everyone, just wanted to pop in and mention this hasn't been forgotten about. Just haven't had much time lately. Will check back into this soon!

[2022-05-02 22:26] ahmedbashir-repo commented on #65
Hi, I understand that both are the same. I want to replace GMT with UTC as
text. Is it possible? I wasn't able to do so.

Thanks for your reply. Really appreciate it.

On Mon, May 2, 2022, 3:02 AM Nico Domino ***@***.***> wrote:

[2022-05-26 06:18] emagaram opened #67 "Optional offset field"
This might be a basic question but for the ITimezoneOption type, Typescript says the offset field is optional but for all the select options I clicked on, the offset field was there. Is this a mistake? How can I ensure that all select option fields have an offset?

[2022-06-01 22:14] ndom91 commented on #67
All auto-generated timezones will have an offset, yes.

Its only potentially an issue with custom timezone additions. Although we try to match those up with existing offsets as well as best as possible.

Can you maybe provide a specific use-case where you're worried an offset might be missing? Or are you just asking because the typescript type was optional?

[2022-06-03 21:28] jamesschwindt opened #68 "SyntaxError: Unexpected token '.'"
Hey I using Next 12.1 with react-timezone-select 1.3.1 .  Normally the timezone component works great but on older browsers such as Safari 12.1.2, Mobile Safari 13.0.4, and Samsung Internet 12.0, the component prevents the site from loading.  I'm aware I can use dynamic imports to catch errors before importing a module, but I wanted to mention this in case others have traffic from older browsers.

[2022-06-04 12:39] ndom91 commented on #68
Hmm yeah that really isn't a lot to work with..

I'm thinking maybe it's an optional chainjng issue (`?.`)

Is this a large portion of your users? Because generally we don't support anything but the last two versions of each browser, i.e. the browserslist default

[2022-06-06 17:53] jamesschwindt commented on #68
About 10%, I've already replaced it with another time zone selector.  I just wanted to mention this in case others have problems.  Feel free to close the issue

[2022-06-07 20:44] aelizabethian opened #69 "question"
Hi, this isn't an issue but a question. I am trying to figure out how to style the react-timezone-select - specifically change the color of the background upon selection,  the border color on focus and the selected text. The blue doesn't fit my project but my normal styling that I would do isn't working (specifying hover states and specifying border color has no effect). Any advice?

[2022-06-08 22:11] ndom91 commented on #69
So without seeing a specific reproduction its hard for me to make a great suggestion.

However, I can tell you the underlying component that makes up the select element itself is [`react-select`](https://react-select.com). You can check out their docs on styling [here](https://react-select.com/styles).

[2022-06-12 17:17] ndom91 commented on #68
Okay thanks for the heads up, I'm going to close this for now. If anyone else comes across the issue, feel free to reopen!

[2022-06-12 17:17] #68 closed

[2022-06-12 17:17] #69 closed

[2022-06-12 17:21] ndom91 commented on #65
Hi Ahmedbashir, as this isn't a standard, and in fact it goes against the standard very explicitly. I'm going to close this issue for now. If you really want it, I'd be happy to accept a PR to customize the `displayValue` entirely though.

[2022-06-12 17:31] ndom91 commented on #50
@iskrenvankov sorry this took so long! I've recently released `1.3.2` with the `spacetime` dependency update. Meaning `Baku` is finally in `offset: 4` :+1:

[2022-06-12 17:31] #50 closed

[2022-06-12 17:32] ndom91 commented on #67
@emagaram sorry this took so long, but I've released `1.3.2` just now, and tightened up the types a bit. `offset` is no longer optional, as it is required to be there in each timezone entry :+1:

[2022-06-12 17:32] #67 closed

[2022-06-12 17:35] ndom91 commented on #58
I'm going to close this issue, we can continue conversation in the PR. Thanks!

[2022-06-12 17:35] #58 closed

[2022-06-12 17:38] ndom91 commented on #60
So this is a `react-select` problem, but we can definitely try to find a solution here.

Digging through their previous issues, it looks like someone ran into this as well a while back (https://github.com/JedWatson/react-select/issues/4780), but never returned with a working reproduction.

Can you maybe create a reproduction in codesandbox or something like that? That would help us a lot in trying

[2022-06-13 20:38] Toledodev opened #70 "Filter timezones by cities"
https://user-images.githubusercontent.com/87545086/173441073-b60b1215-ef4e-4eb6-b6ee-f90ba49e2475.mp4

[2022-06-14 11:30] #70 closed

[2022-06-14 22:25] Toledodev opened #71 "Filter Timezones by cities"
What i tried to do?
.I was trying to filter the timezones by cities, type the name of a city and be rendered in the dropdown the city or the corrersponding timezone, it is possible? I noticed that the library doens't have data besides the timezones.
.I even tried to create a relationship betwwen this library and another that provides the data of the citeis but it was not possible, becausa the "Tim

[2022-06-15 08:23] ndom91 commented on #71
Yeah unfortunately it just filters by values that are in the drop-down, i.e. the predefined city combinations.

I don't want to add a dynamic "all city timezone lookup" to this drop-down filtering.

But you can add custom cities, see the "custom timezones" section in the readme 👍

[2022-06-15 16:32] ndom91 commented on #71
Yeah so I'm against accepting a PR 😅 , my only concern is slowing down typing / filtering if it's constantly searching for cities/timezones

[2022-06-19 13:07] PeerRich commented on #71
that edit makes a lot more sense 🤣

cool *if* we fix this for ourselves we will contribute it back to this repo via a PR 👏

[2022-06-20 12:35] Toledodev commented on #71
I can try, since I was already trying to do

[2022-06-20 15:18] ndom91 commented on #71
Yeah, that'd be great! If you guys submit a PR i'd be happy to take a look and get it over the finish line together 👍

[2022-06-20 15:21] PeerRich commented on #71
@Toledodev that would be wonderful!

I bet @ndom91 and me can split the bounty 🤑

[2022-06-25 08:17] AmirJavaidSwe commented on #68
Which other timezone selector you have used? I am facing this issue
`react-timezone-select Identifier 'a' has already been declared`

[2022-06-27 07:48] ortonomy commented on #64
wouldn't therefore a better way be to somehow export the functionality of the select to a hook? `const { selectedZone, options } = useTimezoneSelect(initialSelectedTimezone)` in order to be able to use the functionality, but not have to use the opinionated piece of UI. Arguably the best part about this is the logic, not the UI itself. Then it could integrated without friction into something like M

[2022-06-27 13:00] ndom91 commented on #64
Yeah in theory I really like that too. Not a huge fan of forcing `react-select` / `select2` on everyone..

When I have some time Ill look into this as the next major release possibly

[2022-06-27 18:05] Toledodev opened #72 "Example components don't render on localhost"
Summary
The "example" folder would supposedly render a component with the dropdown, but when ri run "npm dev" or "npm build" only a ".html" file is shown

Loom video: https://www.loom.com/share/07c76b8d7a82419ca317e216c316e62d

Obs.: Even if I enter the example folder and then run the project through it, the bug persists

[2022-06-27 18:29] ndom91 commented on #72
Hmm, the example folder, in the `main` branch of this repo, has a whole little mini project in it. I use it for development.

If you clone the repo, cd into the `examples` dir, run `npm install`, and then `npm dev` - you should have the example project up and running.

[2022-06-28 13:53] Toledodev commented on #72
yes, but when following these steps only the html component is show
![Screenshot from 2022-06-28 10-52-38](https://user-images.githubusercontent.com/87545086/176196332-5e499922-f282-4001-978b-a1859ecb2915.png)
n

[2022-06-28 21:58] Toledodev commented on #72
Hey @ndom91, I recreated the folder
"examples", I believe you may have made some mistake regarding the use of vite, would you like the repository? It's exactly the same :+1:

[2022-07-04 19:40] Mehdi-HAFID commented on #25
There is a problem with using `Intl.DateTimeFormat().resolvedOptions().timeZone` as a way to set the user timezone. say for example your timezone is Paris, Intl sets it as `Europe/Paris` and NOT `Europe/Brussels` which your library supports. now the selection works as you mentiend. Here is the Problem: I use your `import {allTimezones} from "react-timezone-select";` to display the timezone label `

[2022-07-05 04:27] ndom91 commented on #25
Yeah this is a known issue, someone has suggested auto detecting the city and generating the timezones dynamically in [this issue](https://github.com/ndom91/react-timezone-select/issues/71), but no movement yet.

[2022-07-07 12:01] #72 closed, assigned to nobody

[2022-07-07 13:56] Toledodev opened #74 "Use a development component instead a build folder"
I'm trying to implement the feature requested by Peerrich in calcom (https://github.com/calcom/cal.com/issues/2939), but as the TimezoneSelect component is imported from the build, it makes it difficult to make some kind of change in the code.
  In the example folder (example/src/Timezone.tsx), the TimezoneSelect is imported from dist folder
![Screenshot from 2022-07-07 10-39-50](https://user-imag

[2022-07-08 11:41] ndom91 commented on #74
@Toledodev alright awesome, seems to work well. Just pushed to `main`, if you update your branch you should have an updated `dev` npm script that should do the trick :+1:

[2022-07-11 11:43] emrysal commented on #64
Yes @ndom91 - sorry for my late reply my month has been very, very hectic. We've managed to implement a wrapper ourselves to achieve similar results. This RFC is only "Hmm, this is also a good idea for core".

But I fully agree not forcing react-select on everyone, react-select is probably not a permanent first class citizen in our codebase, it has too much complexity.

[2022-07-11 12:11] ndom91 commented on #64
Yeah no worries! So you do have a prototype wrapper though? Is it based a bit on this or completely written from scratch?

Would be awesome if you'd be willing to share 😁

You can paste it in a gist or something

[2022-07-19 20:36] victorcastro89 commented on #60
I have the same issue, I use chackra ui which uses @emoction/react and when I load timezone-select this issue happens

[2022-07-28 11:32] frx08 commented on #57
I have the same problem but I'm not able to update to `react-scripts@5` has someone found a workaround?

[2022-07-28 13:31] frx08 commented on #57
the problem is webpack 4 not working with optional chaining operator, so babel-loader also fails
https://github.com/babel/babel-loader/issues/871
the only solution for backwards compatibility is use `@babel/plugin-proposal-optional-chaining` plugin or drop optional chaining operator

[2022-07-29 13:50] Toledodev opened #75 "Cursor didn't show pointer when passing the dropdown"
### Describe the bug

On preview page when I open the timezones dropdown the cursor doesn't show "pointer"

### Reproduction

1. Create a new event typr 2. Go to preview 3. Try to change the selected timezone

### System Info

[code]

### Used Package Manager

yarn

### Validations

- [X] Check that there isn't already an issue that reports the same bug to avoid creating a duplicate.
- [X] Check t

[2022-07-31 16:08] ndom91 commented on #75
Hey @Toledodev so this was actually raised in an issue before (https://github.com/ndom91/react-timezone-select/issues/35). At the time I ended up implementing this myself, but as it was the only CSS change from me in the library it didn't end up justifying the tooling and extra work for that one CSS change and I removed it again a few patch versions later.

However, we're using the [react-select](

[2022-08-03 19:40] admc opened #76 "Missing tz's from timezone-soft not handled gracefully"
### Describe the bug

I'm try to pass the full list of timezones available in the browser in as a custom timezone list, many work, but a handful don't, and those crash trying to access the empty output from calling timezone-soft

The list of missing timezones can be found in the ticket I logged with them: https://github.com/spencermountain/timezone-soft/issues/17

Some fail accessing the .daylight

[2022-08-21 13:45] lostcarpark opened #77 "Dublin timezone code displays as BST"
### Describe the bug

I'm using react-timezone-select in my project, and it displays the timezone short code for Dublin as BST:

![image](https://user-images.githubusercontent.com/17686819/185793123-15bad966-cd4e-480b-81d3-ec1cf2ac814b.png)

However, when I format times using `getLocaleString()`, it shows the TimeZone for Dublin as GMT+1:

![image](https://user-images.githubusercontent.com/1768681

[2022-08-22 09:42] ndom91 commented on #77
@lostcarpark thanks for reporting this. So we're grabbing the timezone shortcodes, etc. from [`timezone-soft`](https://github.com/spencermountain/timezone-soft) (used to be `spacetime-timezone`).

Without making any other changes to their library, you can change the shortcodes with the `labelStyle` prop (`original` | `altName` | `abbrev`). `original` removes it completely.

See:
![image](https://u

[2022-10-03 09:37] PeerRich commented on #71
@Toledodev any update on this?

[2022-10-06 21:28] Toledodev commented on #71
Hey @PeerRich , I created a pr that gives when developing the possibility to add custom cities in the code

[2022-10-06 21:29] Toledodev commented on #71
The react-timezone-select library has its timezones with their default values, by adding an "extraLabels" prop it is possible to link a city with its specific timezone and render it in the dropdown

[2022-10-06 21:31] Toledodev commented on #71
What do you think? @PeerRich

[2022-10-06 21:32] PeerRich commented on #71
where is the link?

[2022-10-26 12:31] Toledodev opened #78 "Add "extraLabels" from custom cities for each timezone"
### Clear and concise description of the problem

At the moment we are not able to create custom timezones, so the ideal would be to give the user the option to be able to create custom timezones. We could use all the information from an existing timezone and just change the value to show in the dropdown

### Suggested solution

Add an "extraLabels" prop, which proposes to the user to add a custom

[2022-10-26 13:35] ndom91 commented on #78
Hi @Toledodev thanks for the feedback!

Did you see the "Custom Timezone" section in the README? This should (hopefully) work for you.

See: https://github.com/ndom91/react-timezone-select#-custom-timezones

Also [this codesandbox example](https://codesandbox.io/s/react-timezone-select-typescript-8lsv3?file=/src/App.tsx) includes a custom timezone as well if you want to take a look :+1:

[2022-10-26 18:34] Toledodev commented on #71
Hey @PeerRich , sorry for the delay, when I opened the pr in the react-timezone-select repository I got this answer, do you think this already works for what you want

[2022-10-26 20:03] PeerRich commented on #78
I dont think that does it. we wanna add a ton of cities in the autocomplete but not show them in the dropdown

[2022-10-27 17:10] ndom91 commented on #71
Ah sorry, didn't realize that was related to this, @Toledodev. You'd just mentioend adding custom labels in that other one. Lets not splinter the discussion across multiple issues.

Let us think about what the goal(s) really are here, because maybe I'm misunderstanding too.

We want to be able to recommend timezones based off of many more cities than are currently available in the dropdown (merged

[2022-10-27 23:32] Toledodev commented on #71
Hey @ndom91, I think the second option would be simpler and would give less problems. Anyway I found this library that displays many cities and returns a "timezone" key for each city. Maybe we could relate this library to the existing timezones in react-timezone-select. The user would select a city after searching for it in the dropdown and we would return the correct timezone

[2022-10-28 07:51] PeerRich commented on #71
definitely this, no network request needed

[2022-11-01 10:34] ndom91 commented on #71
Okay great, yeah that seems to do the work of precompiling the list for us!

Could you give it a shot adding that functionality in a branch? Do you need any other changes from me?

I guess high-level, it could look like this:

- Debounce input
- After 2-3 chars start searching the list of available cities
- Recommend the top 3-5 results
- When one is selected, match it with the timezone and return

[2022-11-01 14:02] PeerRich commented on #71
@ndom91 that sounds awesome.

@toledodev wanna build this? we can sponsor this feature

[2022-11-01 14:08] Toledodev commented on #71
Of course, you can count on me 👍

[2022-11-01 15:34] Toledodev commented on #71
Hey @ndom91, how are u? Jn case I need how can I change the dropdown style?

[2022-11-01 16:00] ndom91 commented on #71
The dropdown is completely built on [`react-select`](https://react-select.com/styles) so you'd have to override their styles.

[2022-11-03 18:16] Toledodev commented on #71
Hey @ndom91, how are you?
I'm trying to deploy this but I'm having a problem. I've already managed to use the [city-timezones ](https://www.npmjs.com/package/city-timezones)library and relate the timezones. The problem is that cities have different timezones. For example, "Juiz de Fora" is in Brazil and has the timezone "America/SaoPaulo", so it would work, but "Juanjui" has the timezone "America/

[2022-11-03 19:02] ndom91 commented on #71
Hey I'm well. Thanks for getting this done!

So in regard to matching the cities against my existing timezone json blob - we don't have to use my existing one. We can just look up `America/Lima` in the available timezones object (to get the GMT offset, short code, etc.) and just return that.

What do you think?

[2022-11-04 00:05] Toledodev commented on #71
I agree with you, thanks for the help 👍

[2022-11-04 00:06] Toledodev commented on #71
@ndom91 @PeerRich please take a look at my video, what do you think? https://www.loom.com/share/ba52667340144e60a9321cad720080d1

[2022-11-04 21:44] PeerRich commented on #71
this looks great!

[2022-11-04 22:01] ndom91 commented on #71
Yeah this is great! My only feedback would be, when typing in "San Francisco" and selecting that recommendation, instead of displaying "America/Los Angeles" then, maybe display "(GMT+7:00) San Francisco" or something like that.

[2022-11-06 15:33] PeerRich commented on #71
Yeah i think it makes sense to then use the City and not change to the timezone name

[2022-11-08 19:08] Toledodev commented on #71
But then the format would be different from the accepted one, I'm not sure if we could do this, and if we keep it as it is in the loom video we would follow the pattern, what do you think?
![Screenshot_9](https://user-images.githubusercontent.com/87545086/200653050-99e2239a-61ee-444e-9716-a538d319cf06.png)

[2022-11-08 22:23] PeerRich commented on #71
ok in that ase we can keep it this way for now and maybe follow up

[2022-11-09 18:12] ndom91 commented on #71
Yeah just wanted to chime in, I'm totally open to changing the format. As long as it's user friendly and not a machine label like "Europe/Berlin".

This change is significant enough, that I'm totally open to making it a major version bump and cutting and breaking 👍

[2022-11-09 20:10] Toledodev commented on #71
Hey @ndom91, I'm working on another pr related to timezoneSelect and I think that when we put the two together we will have the expected result
![Screenshot_12](https://user-images.githubusercontent.com/87545086/200930915-089b4aaf-402e-41fd-8a24-0b20be0a8426.png)

[2022-11-10 08:58] ndom91 commented on #71
Okay great, just keep me posted. Thanks a lot for this btw!

[2022-11-18 09:14] abetoots commented on #64
bumping this. appreciate it if you could share @emrysal

[2022-11-18 11:36] davidkmontes opened #80 "Custom Styling CSS"
### Clear and concise description of the problem

I really appreciate this project but I'm not able to easily change the styling of the elements (with react). Especially for themes that have a light/dark style switch for users that prefer a dark version of a theme.

### Suggested solution

I think the best way would be to add props that define the name of the CSS class for the div elements. Thanks

[2022-11-21 11:47] ndom91 commented on #80
So the current implementation is basing the actual select dropdown component on `react-select`. They have a page about how to adjust styles available [here](https://react-select.com/styles).

However, there are some ideas brewing about dropping this dependency all together [here](https://github.com/ndom91/react-timezone-select/issues/64). However these are still in very early stages, so I wouldn't

[2022-11-21 12:40] davidkmontes commented on #80
Thank you! That helps a lot

[2022-11-21 12:40] #80 closed